body {
  font-family: var(--font-body);
  font-size: var(--fsize-0);
  font-weight: var(--font-weight-normal);
  color: var(--color-fore2);
  accent-color: var(--color-hint1);
  background-color: var(--color-back2);
}

main, .meta, .backnext {
  color: var(--color-fore1);
  background-color: var(--color-back1);
}

h1, h2, h3 {
  font-weight: var(--font-weight-head);
  margin-block-start: 1.5em;
  line-height: 0.95;
  color: var(--color-hint2);
  scroll-margin-block-start: var(--header-fix-height);
}

h1 { font-size: var(--fsize-5); margin-block-start: 1.5rem; }
h2 { font-size: var(--fsize-4); }
h3 { font-size: var(--fsize-3); }

p {
  margin-block-start: 1.2em;
}

ul, ol, li {
  margin-block: 1em 1.5em;
}

ul {
  list-style-type: square;
}

li {
  margin-block: 0.8em 0;
  margin-inline: 2em;

  p {
    margin-block-start: 0.3em;
  }

  p:first-child {
    margin-block-start: 0;
  }
}

dl {
  display: grid;
  grid-template-columns: 7em 1fr;
  margin-block: 1em;

  dt, dd {
    margin-block-start: 1rem;
  }

  dd {
    font-weight: 400;
    color: var(--color-fore3);
  }

  .full {
    grid-column: 1 / 3;
    margin-block-start: 0;

    @media (width > 38rem) {
      grid-column: auto;
      margin-block-start: 1rem;
    }
  }

}

blockquote {

  position: relative;
  padding: 1em;
  margin-block: 2em;
  background-color: var(--color-back3);
  border-radius: 20px;

  & > *:first-child {
    margin-block-start: 0;
  }

  p {
    margin-block-start: 1em;
  }

  p:has(cite) {
    font-size: var(--fsize--1);
    font-weight: 400;
    text-align: end;
    margin-block-start: 0.5em;
    color: var(--color-fore3);
  }

  &::after {
    position: absolute;
    inset: auto 1em -19px auto;
    block-size: 0;
    inline-size: 0;
    border: 10px solid var(--color-back3);
    border-block-end-color: transparent;
    border-inline-end-color: transparent;
  }

}

blockquote.alt, li:nth-of-type(2n) blockquote {
  background-color: var(--color-back4);

  &::after {
    border-block-start-color: var(--color-back4);
    border-inline-start-color: var(--color-back4);
  }
}


:where(h1, h2, h3, h4, h5, h6) + p {
  margin-block-start: 0.5em;
}

figure + * {
  margin-block-start: 2em;
}

figure, img, iframe, video, youtube-lite {
  display: block;
  margin-block-start: 1em;
}

figcaption {
  font-size: var(--fsize--1);
  margin-block-start: 0.2em;
}

strong {
  font-weight: var(--font-weight-bold);
}

kbd {
  font-weight: var(--font-weight-head);
  padding-inline: 0.3em;
  color: var(--color-fore3);
  background-color: var(--color-back2);
  border: 1px solid var(--color-hint1);
  border-block-end-width: 3px;
  border-radius: 5px;
}

sup, sub {
  font-size: var(--fsize--2);
}

a:link, a:visited {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  color: var(--color-hint1);

  &.nodec {
    text-decoration: none;
  }
}

a:hover, a:active, a:focus {
  color: var(--color-fore2);
}

input {
  font-weight: 400;
  padding: 0.2em 0.4em;
  color: var(--color-fore2);
  background-color: var(--color-back1);
  border: 0 none;

  &:focus {
    outline-offset: 0;
  }

  &:user-invalid {
    background-color: var(--color-warn1);
  }
}

button, a.button {

  &, &:link, &:visited {
    display: block;
    inline-size: fit-content;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    padding-inline: 2em;
    padding-block: 0.4em;
    margin: 1em auto;
    color: var(--color-back1);
    background-color: var(--color-hint1);
    border: 0 none;
    border-radius: var(--border-radius1);
    cursor: pointer;
  }

  &:hover, &:active, &:focus {
    background-color: var(--color-hint2);
  }

  &[disabled] {
    color: var(--color-back1);
    background-color: var(--color-back4);
    cursor: not-allowed;
  }

}

button[command=close] {

  position: absolute;
  inset: 0 0 auto auto;
  padding: 0;
  margin: 0;
  color: var(--color-fore1);
  background-color: transparent;

  svg {
    inline-size: 1.5em;
    block-size: 1.5em;
  }

  &:hover, &:active, &:focus {
    color: var(--color-hint1);
    background-color: transparent;
  }

  &[disabled] {
    color: var(--color-back1);
    background-color: transparent;
    cursor: not-allowed;
  }

}

svg, use {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

hr {
  block-size: 1px;
  background-color: var(--color-fore4);
  border: 0 none;
}
