@font-face {
  font-family: 'Verdana Fallback';
  src: local(Verdana);
}

@supports (font-variation-settings: normal) {

  @font-face {
    font-family: 'Outfit';
    src: url('/media/fonts/outfit.woff2') format('woff2 supports variations'),
         url('/media/fonts/outfit.woff2') format('woff2-variations');
    font-feature-settings: 'liga', 'salt';
    font-display: swap;
    font-style: normal;
    font-weight: 100 900;
  }

}
