/* minimum size */
main, body > header, .meta, .backnext {

  & > * {
    inline-size: var(--main-width);
    margin-inline: auto;
  }

}

main {
  padding-block-start: calc( var(--header-fix-height) + 2ch );
}
