/* minimum size */
main, body > header, body > footer, .full, .meta, .backnext {

  & > *:not(.full) {
    inline-size: var(--main-width);
    margin-inline: auto;
  }

}

main {
  padding-block-end: calc( var(--header-fix-height) + 2ch );
}

.meta {
  padding-block: 3em;
  background-color: var(--color-back4);

  > section > :first-child {
    margin-block-start: 0;
  }
}
