/* print styles */
@media print {

  *,
  *::before,
  *::after {
    font-size: 12px !important;
    color: #000 !important;
    background-color: #fff !important;
    border-color: #888 !important;
    text-decoration-color: #888 !important;
  }

  *::before,
  *::after {
    font-size: 10px !important;
  }

  body > header, footer, nav-heading, video, dt svg, youtube-lite, blockquote::after, dialog, dialog::backdrop, .breadcrumb, .tabset, .backnext, .related, .meta, .button, #top {
    display: none !important;
  }

  main, main > * {
    inline-size: 100% !important;
    max-inline-size: none !important;
    padding-inline: 0 !important;
    margin-inline: 0 !important;
  }

  h1 { font-size: 22px !important; }
  h2 { font-size: 18px !important; }
  h3 { font-size: 14px !important; }

  main {
    padding-block: 0 !important;
    column-width: 27em;
    column-gap: 4em;

    header.full {

      position: static;
      inline-size: auto;
      block-size: auto;

      div {
        transform: none;
      }

      img { display: none; }
    }

    header, header > * {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .properties {
    column-span: all;

    figure {
      block-size: auto !important;
      border: 0 none !important;
      overflow: visible !important;
    }

    img {
      block-size: 7em !important;
    }

    h2, h3 {
      font-weight: 300 !important;
      text-shadow: none !important;
      transform: none !important;
    }
  }

  .tabs {

    margin: 0;

    section:is(#overview, #description, #photos, #plan) {
      display: block;
    }

  }

  #plan img {
    max-block-size: 500px !important;
    block-size: 100% !important;
    inline-size: auto !important;
  }

  .photogrid {

    margin-block: 1em !important;

    img {
      display: inline-block;
      inline-size: auto !important;
      block-size: 120px !important;
      margin: 0 0 1px 1px;
    }

    /* only print first five images */
    img:nth-child(n + 6) {
      display: none !important;
    }

  }

  a.proptag {
    padding: 0 !important;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  ::marker {
    color: #000 !important;
  }

  article, aside, blockquote, table, img, picture, figure, svg, li, pre {
    break-inside: avoid;
  }

  h2 + *, h3 + * {
    break-before: avoid;
  }

  main a[href^="http"]:not([class])::after {
    content: " (" attr(href) ")";
    font-size: 12px !important;
    font-style: italic;
  }

  .print {
    display: block;
    text-align: center;

    strong {
      display: block;
    }
  }

}
