/* default variables */
:root {

  /* fonts */
  --font-body: Outfit, "Verdana Fallback", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --font-head: --var(font-body);
  --font-weight-normal: 200;
  --font-weight-bold: 400;
  --font-weight-head: 300;

  --fsize--2: clamp(0.6944rem, 0.5084rem + 0.8267vw, 1.1285rem);
  --fsize--1: clamp(0.8333rem, 0.6101rem + 0.9921vw, 1.3542rem);
  --fsize-0: clamp(1rem, 0.7321rem + 1.1905vw, 1.625rem);
  --fsize-1: clamp(1.2rem, 0.8786rem + 1.4286vw, 1.95rem);
  --fsize-2: clamp(1.44rem, 1.0543rem + 1.7143vw, 2.34rem);
  --fsize-3: clamp(1.728rem, 1.2651rem + 2.0571vw, 2.808rem);
  --fsize-4: clamp(2.0736rem, 1.5182rem + 2.4686vw, 3.3696rem);
  --fsize-5: clamp(2.4883rem, 1.8218rem + 2.9623vw, 4.0435rem);

  /* layout */
  --header-height: 5ch;
  --layout-width: 58ch;
  --layout-margin: min(4vw, 4ch);
  --main-width: min(var(--layout-width), 100% - (2 * var(--layout-margin)));
  --header-fix-height: calc(var(--header-height) + 1em);

  /* colors */
  --color-black: rgba(0,0,0,0.3);
  --color-white: rgba(255,255,255,1);

  --color-fore1: light-dark( oklch(0.15 0.15 255), oklch(0.8 0.1 255) );
  --color-fore2: light-dark( oklch(0.30 0.15 255), oklch(0.8 0.2 255) );
  --color-fore3: light-dark( oklch(0.45 0.15 255), oklch(0.8 0.3 255) );
  --color-fore4: light-dark( oklch(0.60 0.15 255), oklch(0.8 0.4 255) );

  --color-back1: light-dark( oklch(1.0 0.02 255), oklch(0.20 0.03 255) );
  --color-back2: light-dark( oklch(0.94 0.02 255), oklch(0.25 0.03 255) );
  --color-back3: light-dark( oklch(0.86 0.02 255), oklch(0.30 0.03 255) );
  --color-back4: light-dark( oklch(0.8 0.02 255), oklch(0.35 0.03 255) );

  --color-hint1: light-dark(oklch(0.53 0.13 54.76), oklch(0.78 0.13 54.76));
  --color-hint2: light-dark(oklch(0.26 0.13 54.76), oklch(0.63 0.13 54.76));

  --color-backh: color-mix(in oklab, var(--color-back2), transparent 10%);

  --color-shadow: rgba(0,0,0,0.2);

  --border-radius1: 5px;
  --border-radius2: 10px;

  /* static-search styles */
  --staticsearch-fontsize: var(--fsize-0);

  --staticsearch-color-back: var(--color-back3);
  --staticsearch-color-border: var(--color-back2);

  --staticsearch-color-fore0: var(--color-fore1);
  --staticsearch-color-fore1: var(--color-fore2);
  --staticsearch-color-fore2: var(--color-fore3);

  --staticsearch-color-link: var(--color-hint1);
  --staticsearch-color-visited: var(--color-hint1);

  --staticsearch-color-shadow: rgba(0,0,0,0.5);
  --staticsearch-color-backdrop: var(--color-backh);
  --staticsearch-backdrop-blur: 5px;

}

html, html[data-theme="light"], html:has(input[name="themeswitcher"][value="light"]:checked) {
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

html[data-theme="dark"], html:has(input[name="themeswitcher"][value="dark"]:checked) {
	color-scheme: dark;
}
