body > header {

  position: fixed;
  inset-block-start: 0;
  inline-size: 100%;
  background-color: var(--color-backh);
  box-shadow: 0 2px 4px var(--color-shadow);
  backdrop-filter: blur(5px);
  z-index: 1;

  & > div {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 0.3em;
    margin-inline: auto;
  }

  svg {
    inline-size: 1.8em;
    block-size: 1.8em;
  }

  a, button, summary, label, static-search {

    &, &:link, &:visited {
      text-decoration: none;
      color: var(--color-fore2);
    }

    &:hover, &:active, &:focus {
      color: var(--color-hint1);
      background-color: transparent;
    }

    &:focus-visible {
      outline: 0 none;
    }

  }

  p {
    margin-block: auto;
  }

  .call {
    margin-inline-start: auto;
  }

  details {
    position: relative;

    summary {

      cursor: pointer;

      &::marker {
        content: '';
      }

      svg {
        block-size: var(--header-height);
      }
    }

    menu {
      position: absolute;
      inline-size: max-content;
      max-block-size: calc(98vb - var(--header-height));
      inset-block-start: 100%;
      inset-inline-end: 0;
      padding-block: 0.5em;
      background-color: var(--color-backh);
      box-shadow: 0 3px 2px var(--color-shadow);
      overflow-block: auto;
      overscroll-behavior: contain;

      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-weight: 300;
      }

      a, strong {
        display: block;
        padding-inline: 1em;
        padding-block: 0.3em;
      }

      svg {
        inline-size: 1.2em;
        block-size: 1.2em;
      }

      hr {
        inline-size: calc(100% - 2em);
        margin-block: 0.5em;
        margin-inline: auto;
        background-color: var(--color-back3);
      }

    }

  }

}

.logo {

  line-height: 1;
  margin: 0;

  svg {
    inline-size: 3.2em;
    block-size: 3.2em;
  }

  svg, span {
    display: inline-block;
    vertical-align: middle;
  }

  strong, em {
    display: block;
  }

  strong {
    font-size: 1.75em;
    font-weight: 900;
  }

  em {
    font-weight: 400;
  }

  span {
    display: none;

    @media (width > 28rem) {
      display: inline-block;
    }
  }

}

static-search {

  display: block;
  visibility: hidden;
  inline-size: 1.8em;
  margin-block: auto;
  margin-inline-start: auto;
  pointer-events: none;

  &::part(activate) {
    inline-size: 100%;
    outline: 0 none;
    stroke-linecap: round;
    stroke: currentColor;
    stroke-width: 2;
    color: inherit;
    fill: none;
  }

}

static-search:defined {
  visibility: visible;
  pointer-events: all;
}

.themeswitcher {

  input {
    position: absolute;
    clip: rect(0 0 0 0);
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
  }

  label {
    display: none;
    padding-inline: 1em;
    padding-block: 0.3em;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.3s linear;
  }

  input:checked + label {
    display: block;
    pointer-events: all;
  }

  svg:hover, svg:focus, svg:active {
    stroke: var(--color-hint1);
  }

  &:focus-within:has(:focus-visible) label {
    color: var(--color-hint1);
  }

}
