.logo {

  line-height: 1;
  margin: 0;

  svg {
    inline-size: 3.2em;
    block-size: 3.2em;
  }

  svg, span {
    display: inline-block;
    vertical-align: middle;
  }

  strong, em {
    display: block;
  }

  strong {
    font-size: 1.75em;
    font-weight: 900;
  }

  em {
    font-weight: 400;
  }

}

#svg-logo g {
  transform-origin: 90% 40%;
  animation: swing 8s linear infinite;
}

@keyframes swing {
  0% { rotate: 0deg; }
  62% { rotate: 0deg; }
  64% { rotate: -2deg; }
  68% { rotate: 4deg; }
  72% { rotate: -6deg; }
  76% { rotate: 8deg; }
  80% { rotate: -10deg; }
  84% { rotate: 8deg; }
  88% { rotate: -6deg; }
  92% { rotate: 4deg; }
  96% { rotate: -2deg; }
  100% { rotate: 0deg; }
}
