.share {

  inline-size: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.6em;

  &, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;

    svg {
      inline-size: 1.2em;
      block-size: 1.2em;
      vertical-align: middle;
    }

  }

}
