/* tabs */
.tabset {

  &, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  display: flex;
  font-size: var(--fsize--2);
  padding-inline: 4px;
  border-block-end: 2px solid var(--color-back3);

  a:link, a:visited {
    display: block;
    font-weight: 400;
    inline-size: 4.6em;
    text-align: center;
    text-decoration: none;
    padding-inline: 0;
    padding-block: 0.5em;
    margin-block-end: -2px;
    background-color: var(--color-back2);
    border: 2px solid var(--color-back3);
    border-radius: var(--border-radius1) var(--border-radius1) 0 0;
    z-index: 1;

    li:not(:first-of-type) & {
      border-inline-start: 0 none;
    }
  }

  a:hover, a:active, a:focus {
    background-color: var(--color-back1);
    border-block-end-color: var(--color-back1);
  }

  svg {
    display: block;
    inline-size: 2.5em;
    block-size: 2.5em;
    margin-inline: auto;
  }

  @media (width > 38rem) {

    font-size: var(--fsize--1);

    a:link, a:visited {
      inline-size: 6em;
    }

    svg {
      display: inline-block;
      inline-size: 1.2em;
      block-size: 1.2em;
    }

    strong {
      display: inline-block;
    }
  }

}

.tabs {

  margin-block: 2em;

  section {
    padding: 0;
    margin: 0;
    scroll-margin-block-start: calc(var(--header-fix-height) + 5rem);
  }

  section:not(:target) {
    display: none;
  }

  /* no active target */
  &:not(:has(:target)) {

    section:first-of-type {
      display: block;
    }

  }

  &:not(:has(:target)) .tabset a[href="#overview"],
  &:has(#overview:target) .tabset a[href="#overview"],
  &:has(#description:target) .tabset a[href="#description"],
  &:has(#photos:target) .tabset a[href="#photos"],
  &:has(#video:target) .tabset a[href="#video"],
  &:has(#plan:target) .tabset a[href="#plan"],
  &:has(#map:target) .tabset a[href="#map"] {
    color: var(--color-fore1);
    background-color: var(--color-back1);
    border-block-end-color: var(--color-back1);
  }

}

/* fixed height tabs */
#video, #map {

  block-size: 70vb;

  iframe, youtube-lite {
    inline-size: 100%;
    block-size: 100%;
    margin-block: 0;
    margin-inline: auto;
  }

}

/* charge */
.charge {
  font-size: var(--fsize-2);
  color: var(--color-fore3);
}
