/* heading */
main > header {

  padding-block-start: calc( var(--header-fix-height) + 2ch );

  &.full {
    position: relative;
    inline-size: 100%;
    block-size: min(50vb, 50rem);
    padding-block-start: 0;
    margin-block-end: 4em;

    div {
      padding: 0.6em 1em;
      background-color: color-mix(in oklab, var(--color-back1), transparent 50%);
      backdrop-filter: blur(10px);
      transform: translateY(calc( -100% - 1em ));

      *:last-child {
        margin-block-end: 0;
      }
    }
  }

  img.full {
    max-inline-size: none;
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
    object-fit: cover;
  }

  h1 {
    margin-block: 0 0.2em;
  }

  p {
    margin-block: 0 1em;
    color: var(--color-fore3);
  }

}

.breadcrumb {

  font-size: var(--fsize--2);
  inline-size: 100%;
  color: var(--color-fore4);

  ol, li, a {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  li::after {
    display: inline;
    content: '\25b6';
    font-size: 0.6em;
    padding-inline: 0.8em;
    vertical-align: 10%;
  }

}

.proptag {

  &:link, &:visited {
    text-decoration: none;
    padding-inline: 0.5em;
    color: var(--color-fore2);
    background-color: var(--color-back2);
    border-radius: 20px;
  }

  &:hover, &:active, &:focus {
    color: var(--color-back1);
    background-color: var(--color-hint2);
  }

}
