${ include('_partials/htmlhead.html') }
${ include('_partials/header.html') }

<main>

  ${ include('_partials/title.html') }

  <p>bedrooms: ${ tacs.lib.format.number( data.prop.bedrooms ) }</p>
  <p>bathrooms: ${ tacs.lib.format.number( data.prop.bathrooms ) }</p>
  <p>receptions: ${ tacs.lib.format.number( data.prop.receptions ) }</p>

  <p>contact: ${ tacs.lib.format.number( data.prop.weeks ) } weeks</p>
  <p>from: ${ tacs.lib.format.dateHuman( data.prop.datefrom ) }</p>
  <p>to: ${ tacs.lib.format.dateHuman( data.prop.dateto ) }</p>

  <p>deposit: ${ tacs.lib.format.currency( data.prop.deposit, 'GBP' ) } per student</p>
  <p>charges: ${ tacs.lib.format.currency( data.prop.priceweek, 'GBP' ) } per student per week excluding bills</p>

  <p>distance: ${ tacs.lib.format.number( data.prop.unimins ) }-minute walk to University</p>

  <p>EPC: ${ data.prop.epc }</p>

  ${ data.content }

  <p>The property is fully compliant with HMO requirements and has regular gas, electricity, appliance, and fire safety inspections.</p>

  <p>Communal areas and bedrooms are cleaned every week. This includes a wipe-down of surfaces and sinks with light vacuuming and dusting. Students remain responsible for general cleanliness such as washing dishes, emptying bins etc.</p>

  <p>To reserve the property, all students must pay a holding deposit of ${ tacs.lib.format.currency( data.prop.depositholding, 'GBP' ) } each. The remainder deposit of ${ tacs.lib.format.currency( data.prop.depositremainder, 'GBP' ) } is payable by each student at the signing of the contract. Deposits are protected by <a href="https://www.mydeposits.co.uk/">MyDeposits</a>.</p>

  <iframe src="https://maps.google.com/maps?q=${ data.prop.lat },${ data.prop.lng }&amp;hl=en&amp;z=15&amp;ie=UTF8&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0" loading="lazy" width="100%" height="500px" frameborder="0"></iframe>

  ${ data.prop.videoID ? `<youtube-lite video="${ data.prop.videoID }"></youtube-lite>` : '' }

  ${ data?.prop?.photo.map((i, ix) => `<img src="${ i.src }" width="${ i.width || 600 }" height="${ i.height || 600 }" alt="${ tacs.lib.feed.escape( data.prop.title ) } photograph ${ ix+1 }">`).join('') }

  ${ data.prop.plan ? `<img src="${ data.prop.plan.src }" width="${ data.prop.plan.width || 600 }" height="${ data.prop.plan.height || 600 }" alt="plan of ${ tacs.lib.feed.escape( data.prop.title ) }" loading="lazy">` : '' }

</main>

${ include('_partials/meta.html') }

${ include('_partials/backnext.html') }

<nav id="menudir" popover>${ tacs.lib.nav.menuMain( tacs, data.link ) }</nav>

${ include('_partials/htmlfoot.html') }
