${ include('_partials/htmlhead.html') }
${ include('_partials/header.html') }

<main id="${ data.prop.code }" data-property="${ data.title }" data-beds="${ data.prop.bedrooms }" data-datefrom="${ data.prop.let ? '' : tacs.lib.format.dateHuman( data.prop.datefrom ) }">

  ${ include('_partials/title.html') }

  <div class="tabs">

    <ul class="tabset">
      <li><a href="#overview"><svg><use xlink:href="#svg-table"></use></svg> <strong>Details</strong></a></li>
      <li><a href="#description"><svg><use xlink:href="#svg-info"></use></svg> <strong>Info</strong></a></li>
      ${ data.prop.photo ? '<li><a href="#photos"><svg><use xlink:href="#svg-camera"></use></svg> <strong>Photos</strong></a></li>' : '' }
      ${ data.prop.videoID ? '<li><a href="#video"><svg><use xlink:href="#svg-video"></use></svg> <strong>Video</strong></a></li>' : '' }
      ${ data.prop.plan ? '<li><a href="#plan"><svg><use xlink:href="#svg-compass"></use></svg> <strong>Plan</strong></a></li>' : '' }
      <li><a href="#map"><svg><use xlink:href="#svg-mappin"></use></svg> <strong>Map</strong></a></li>
    </ul>

    <section id="overview">

      <dl>

        <dt><svg><use xlink:href="#svg-mappin"></use></svg> address</dt>
        <dd>${ data.title }</dd>

        <dt><svg><use xlink:href="#svg-calendar"></use></svg> move-in</dt>
        <dd>${ tacs.fn.dateFull( data.prop.datefrom ) }</dd>

        <dt><svg><use xlink:href="#svg-calendar"></use></svg> move-out</dt>
        <dd>${ tacs.fn.dateFull( data.prop.dateto ) }</dd>

        <dt><svg><use xlink:href="#svg-calendar"></use></svg> contract</dt>
        <dd>${ tacs.lib.format.number( data.prop.weeks ) } weeks</dd>

        <dt><svg><use xlink:href="#svg-bed"></use></svg> bedrooms</dt>
        <dd>${ tacs.lib.format.number( data.prop.bedrooms ) }</dd>

        <dt><svg><use xlink:href="#svg-bath"></use></svg> bathrooms</dt>
        <dd>${ tacs.lib.format.number( data.prop.bathrooms ) }</dd>

        <dt><svg><use xlink:href="#svg-sofa"></use></svg> receptions</dt>
        <dd>${ tacs.lib.format.number( data.prop.receptions ) }</dd>

        <dt><svg><use xlink:href="#svg-walk"></use></svg> distance</dt>
        <dd>${ tacs.lib.format.number( data.prop.unimins ) }-minute walk to University</dd>

        <dt><svg><use xlink:href="#svg-utility"></use></svg> <abbr title="Energy Performance Certificate">EPC</abbr></dt>
        <dd>${ data.prop.epc }</dd>

        <dt><svg><use xlink:href="#svg-utility"></use></svg> utility bills</dt>
        <dd>not included</dd>

        <dt><svg><use xlink:href="#svg-spanner"></use></svg> services</dt>
        <dd>weekly clean of communal areas and bedrooms</dd>

        ${ data.prop.let ? '' : `

          <dt><svg><use xlink:href="#svg-payment"></use></svg> deposit</dt>
          <dd>${ tacs.lib.format.currency( data.prop.deposit, 'GBP' ).replace('.00', '') } per student</dd>

          <dt><svg><use xlink:href="#svg-payment"></use></svg> occupancy</dt>
          <dd class="charge">${ tacs.lib.format.currency( data.prop.priceweek, 'GBP' ).replace('.00', '') } per student per week</dd>

        ` }

      </dl>

    </section>

    <section id="description">

      ${ data.content }

      <p>The property is fully compliant with HMO requirements and has regular gas, electricity, appliance, and fire safety inspections.</p>

    </section>

    ${ data.prop.photo ? `

      <section id="photos" class="photogrid imagexpand">

        ${ data.prop.photo.map((i, ix) => `<img src="${ i.src }" width="${ i.width || 600 }" height="${ i.height || 600 }" alt="${ tacs.lib.feed.escape( data.prop.title ) } photograph ${ ix+1 }" class="${ i.height > i.width ? 'port' : 'land'}" loading="lazy" fetchpriority="low">`).join('') }

      </section>

      ` : ''
    }

    ${ data.prop.videoID ? `<section id="video">
      <youtube-lite video="${ data.prop.videoID }"></youtube-lite>
    </section>` : '' }

    ${ data.prop.plan ? `<section id="plan" class="imagexpand">
      <img src="${ data.prop.plan.src }" width="${ data.prop.plan.width || 600 }" height="${ data.prop.plan.height || 600 }" alt="plan of ${ tacs.lib.feed.escape( data.prop.title ) }" loading="lazy">
    </section>` : '' }

    <section id="map">

      <iframe src="https://maps.google.com/maps?q=${ data.prop.lat },${ data.prop.lng }&amp;hl=en&amp;z=15&amp;ie=UTF8&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0" loading="lazy" width="100%" height="500px" frameborder="0"></iframe>

    </section>

  </div>

  ${ data.prop.let ? `<p class="center highlight"><strong>This property has been let for ${ data.prop.year } and is no longer available.</strong></p>` : `

    <p><a href="__/apply/" data-dialog="viewform" data-email="info {at} exeter-student-lets dot co dot uk" class="button">VIEW PROPERTY</a></p>

    <p class="note">To reserve this property after viewing, students must pay a holding deposit of ${ tacs.lib.format.currency( data.prop.depositholding, 'GBP' ).replace('.00', '') } each. The remainder deposit of ${ tacs.lib.format.currency( data.prop.depositremainder, 'GBP' ).replace('.00', '') } each is payable when the contract is signed. Deposits are protected by <a href="https://www.mydeposits.co.uk/">MyDeposits</a> and <a href="https://help.exeter-student-lets.co.uk/moving-out/deposit/">returned</a> when the contract ends.</p>

    <dialog id="viewform" closedby="closerequest">

      <p>Please enter your details to view</p>
      <p><strong>${ data.prop.street }</strong></p>
      <p class="f-1">${ data.prop.bedrooms } bedroom${ data.prop.bedrooms === 1 ? '' : 's' }, from ${ tacs.lib.format.dateHuman( data.prop.datefrom ) }</p>

      <form action="https://api.staticforms.dev/submit" method="post">

        <input type="hidden" name="subject" value="view ${ data.prop.street }">
        <input type="hidden" name="contract" value="${ data.prop.bedrooms }-bed, ${ tacs.lib.format.number( data.prop.weeks ) } weeks from ${ tacs.lib.format.dateHuman( data.prop.datefrom ) }">
        <input type="hidden" name="website" value="${ tacs.config.domain }${ data.shortlink || data.link }">

        <div class="formgrid">

          <label for="name">name</label>
          <input type="text" id="name" name="name" autocomplete="name" enterkeyhint="next" required minlength="2" maxlength="30">

          <label for="email">email</label>
          <input type="email" id="email" name="email" autocomplete="email" inputmode="email" enterkeyhint="next" required>

          <label for="phone">phone</label>
          <input type="text" id="phone" name="phone" autocomplete="tel" inputmode="tel" enterkeyhint="go" required minlength="11" maxlength="20">

        </div>

        <input type="text" name="esl-honeypot" required>
        <input type="text" name="honeypotx" required>

        <button>SUBMIT</button>

      </form>

      <div class="status"></div>
      <p class="message"></p>

      <button commandfor="viewform" command="close"><svg><use xlink:href="#svg-close"></use></svg></button>

    </dialog>

  ` }

</main>

${ include('_partials/backnext.html') }

${ include('_partials/meta.html') }

${ include('_partials/htmlfoot.html') }
