${ include('_partials/htmlhead.html') }
${ include('_partials/header.html') }

<main>

  <header>
    ${ data?.pagination &&
      `<h1>${ data.title }${ data.pagination.pageTotal > 1 ? `, page ${ tacs.lib.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.lib.format.number( data.pagination.pageTotal ) }` : ''}</h1>`
    }
    <p>${ tacs.lib.format.number( data.childPageTotal ) } available</p>
  </header>

  ${ include('_partials/list.html') }

  <section>
    <h2>Property types</h2>
    ${ tacs.fn.nav.tagList() }
  </section>

</main>

${ include('_partials/htmlfoot.html') }
