${ (data?.postnext?.prop || data?.postback?.prop) && '<nav class="backnext"><ul>' }

  ${ data?.postnext?.prop ? `<li class="next"><a href="${ data.postnext.link }"><span>next &rarr;</span> <strong>${ data.postnext.prop.bedrooms }-bed ${ data.postnext.prop.type === 'flat' ? '' : 'house' }, ${ data.postnext.prop.street }</strong></a></li>` : '' }

  ${ data?.postback?.prop ? `<li class="back"><a href="${ data.postback.link }"><span>&larr; back</span> <strong>${ data.postback.prop.bedrooms }-bed ${ data.postback.prop.type === 'flat' ? '' : 'house' }, ${ data.postback.prop.street }</strong></a></li>` : '' }

${ (data?.postnext || data?.postback) && '</ul></nav>' }
