<!-- StaticSearch configuration -->
<template id="staticsearch_item">

  <li part="item">
    <a part="link">
      <h2 part="title"></h2>
      <p part="description"></p>
    </a>
  </li>

</template>


<p class="print">View this page at <strong>${ tacs.config.domain }${ data.link }</strong></p>

<footer><nav>

  <ul>
    <li><a href="__/house/"><svg><use xlink:href="#svg-house"></use></svg> houses</a></li>
    <li><a href="__/flat/"><svg><use xlink:href="#svg-flat"></use></svg> flats</a></li>
    <li><a href="https://help.exeter-student-lets.co.uk/"><svg><use xlink:href="#svg-info"></use></svg> help</a></li>
    <li><a href="__/privacy-policy/"><svg><use xlink:href="#svg-lock"></use></svg> privacy</a></li>
    <li><a href="__/apply/"><svg><use xlink:href="#svg-phone"></use></svg> contact</a></li>
  </ul>

  <p>--COPYRIGHT-- Exeter Student Lets</p>

</nav></footer>

<a href="#" id="top" title="top"><svg><use xlink:href="#svg-up"></use></svg></a>

${ tacs.script.get('speculation').code }

${ include('_partials/svgicons.html') }

</body>
</html>
