<!-- StaticSearch configuration -->
<template id="staticsearch_item">

  <li part="item">
    <a part="link">
      <h2 part="title"></h2>
      <p part="description"></p>
    </a>
  </li>

</template>

<footer><nav>

  <ul>
    <li><a href="__/house/"><svg><use xlink:href="#svg-house"></use></svg> houses</a></li>
    <li><a href="__/flat/"><svg><use xlink:href="#svg-flat"></use></svg> flats</a></li>
    <li><a href="https://help.exeter-student-lets.co.uk/"><svg><use xlink:href="#svg-info"></use></svg> help</a></li>
    <li><a href="__/privacy-policy/"><svg><use xlink:href="#svg-lock"></use></svg> privacy</a></li>
    <li><a href="__/apply/"><svg><use xlink:href="#svg-phone"></use></svg> contact</a></li>
  </ul>

  <p class="logo"><a href="${ tacs.root }" title="Exeter Student Lets">
    <svg><use xlink:href="#svg-logo"></use></svg>
    <span><strong>EXETER</strong> <em>STUDENT LETS</em></span>
  </a></p>

  <p><a href="__/about/">Serving Exeter students for ${ tacs.config.trading } years</a></p>

  <p><a href="https://www.optimalworks.net/">--COPYRIGHT-- OptimalWorks</a></p>

</nav></footer>

<a href="#" id="top" title="top"><svg><use xlink:href="#svg-up"></use></svg></a>

<p class="print">View this page at <strong>${ tacs.config.domain }${ data.link }</strong></p>

<p class="print">--COPYRIGHT-- ${ tacs.config.author }</p>

${ tacs.script.get('speculation').code }

${ include('_partials/svgicons.html') }

</body>
</html>
