<!DOCTYPE html>
<html lang="${ tacs.config.language }" dir="ltr">
<head>
<meta charset="UTF-8">
<title>${ data.title || tacs.config.title }${ data?.pagination?.pageTotal > 1 ? ` (page ${ tacs.lib.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.lib.format.number( data.pagination.pageTotal ) })` : ''}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,interactive-widget=resizes-content">

<!-- Content Security Policy -->
<meta http-equiv="Content-Security-Policy" content="
default-src 'none';
base-uri 'self';
img-src 'self' data: https://i.ytimg.com;
media-src 'self';
font-src 'self';
style-src 'self' 'sha256-d36/LWfscriekaGQA4mpQXQiPfia0BMG+saF6WPn50o=' 'sha256-b4EJa4w89jtLvjxsBloYaCfwO1Xltuqrcz89Gtfj77U=';
script-src 'self' 'sha256-${ tacs.script.get('theme').hash }' 'sha256-${ data.script.get('schema').hash }' 'sha256-${ tacs.script.get('speculation').hash }';
connect-src 'self' api.staticforms.dev;
form-action 'none';
frame-src www.youtube-nocookie.com maps.google.com www.google.com/maps/;
manifest-src 'self';
">

<!-- assets -->
<style>static-search,svg{display:inline-block;inline-size:20px;block-size:20px}</style>
<link rel="stylesheet" href="${ tacs.root }css/main.css" fetchpriority="high">
<script type="module" src="${ tacs.root }js/main.js" fetchpriority="low"></script>
<script type="module" src="${ tacs.root }search/staticsearch-component.js" fetchpriority="low"></script>
${ tacs.script.get('theme').code }

<!-- meta -->
<meta name="description" content="${ data.description || tacs.config.description }">
<meta name="author" content="${ data.author || tacs.config.author }">
<link rel="canonical" href="${ tacs.config.domain }${ data.link }">

<!-- search -->
<meta name="robots" content="${ data.index ? 'index,follow' : 'noindex,follow' }">
<meta name="staticsearch" content="${ data.isDirIndex || data.isTagIndex || !data.index ? 'noindex' : 'index' }">

<!-- sitemap -->
<link rel="sitemap" type="application/xml" href="${ tacs.config.domain }${ tacs.root }sitemap.xml">
<link rel="sitemap" type="text/plain" href="${ tacs.config.domain }${ tacs.root }sitemap.txt">

<!-- application -->
<meta name="application-name" content="${ tacs.config.title }">
<meta name="theme-color" content="${ tacs.config.themeColor }">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-title" content="${ tacs.config.title }">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!-- theme -->
<link rel="apple-touch-icon" sizes="180x180" href="${ tacs.root }media/favicons/favicon180.png">
<link rel="icon" type="image/svg+xml" href="${ tacs.root }media/favicons/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="${ tacs.root }media/favicons/favicon032.png">
<link rel="icon" type="image/png" sizes="16x16" href="${ tacs.root }media/favicons/favicon016.png">
<link rel="manifest" href="${ tacs.root }site.webmanifest">

<!-- structured data -->
${ data.script.get('schema').code }

<!-- social media -->
<meta property="og:site_name" content="${ tacs.config.title }">
<meta property="og:url" content="${ tacs.config.domain }${ data.link }">
<meta property="og:title" content="${ data.title || tacs.config.title }">
<meta property="og:description" content="${ data.description || tacs.config.description }">
<meta property="og:type" content="article">
<meta property="og:locale" content="${ tacs.config.language }">
<meta property="og:image" content="${ tacs.config.domain }${ tacs.root }favicon512.png">
${ data.isDirIndex || data.isTagIndex ? '' : `
<meta property="article:published_time" content="${ tacs.lib.format.dateISO( data.date ) }">
<meta property="article:modified_time" content="${ tacs.lib.format.dateISO( data.modified || data.date ) }">
` }
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="${ tacs.config.authorX }">

<!-- prefetch -->
${ data?.postback?.link ? `<link rel="prefetch" href="${ data.postback.link }" as="document">` : '' }
${ data?.postnext?.link ? `<link rel="prefetch" href="${ data.postnext.link }" as="document">` : '' }
${ data?.pagination?.hrefBack ? `<link rel="prefetch" href="${ data.pagination.hrefBack }" as="document">` : '' }
${ data?.pagination?.hrefNext ? `<link rel="prefetch" href="${ data.pagination.hrefNext }" as="document">` : '' }

</head>
<body${ data.bodyClass ? ` class="${ data.bodyClass }"` : '' }>
