<details class="menu" name="headmenu">

  <summary title="menu"><svg><use xlink:href="#svg-menu"></use></svg></summary>

  <menu>

    ${ tacs.fn.nav.menuMain( data.link ) }

    <li><hr></li>

    <li>
      <form class="themeswitcher">
        <input type="radio" name="themeswitcher" id="themeswitcher_auto" value="" checked>

        <label for="themeswitcher_light" title="system theme"><svg><use xlink:href="#svg-pc"></use></svg> <span>device theme</span></label>

        <input type="radio" name="themeswitcher" id="themeswitcher_light" value="light">

        <label for="themeswitcher_dark" title="light theme"><svg><use xlink:href="#svg-sun"></use></svg> <span>light theme</span></label>

        <input type="radio" name="themeswitcher" id="themeswitcher_dark" value="dark">

        <label for="themeswitcher_auto" title="dark theme"><svg><use xlink:href="#svg-moon"></use></svg> <span>dark theme</span></label>
      </form>
    </li>

  </menu>

</details>
