<header class="full">

  <img id="propimage-${ data?.prop ? data.prop.code : 'title' }" src="${ data.hero.src }" width="${ data.hero.width }" height="${ data.hero.height }" alt="Exeter view" class="full" loading="eager" fetchpriority="high">

  <div>

    ${ tacs.lib.nav.breadcrumb( tacs, data.link ) }

    <h1${ data?.prop ? ` id="proptitle-${ data.prop.code }" data-property="${ data.prop.code }"` : ''}>${ data?.prop ? data.prop.street : data.title }</h1>

    ${ data?.prop ? `<p>${ data?.tags?.sort( tacs.fn.sortBy('tag') ).map(t => `<a href="${ t.link }" class="proptag">${ t.tag }</a>`).join(' ') } ${ data.prop.let ?
        `already let for ${ data.prop.year }` :
        `available in ${ data.prop.year } for ${ tacs.lib.format.currency( data.prop.priceweek, 'GBP' ).replace('.00', '') } per student per week` }
    </p>` : '' }

  </div>

</header>
